footer {
    background-color: var(--color-accent);
    color: var(--color-bg-light);
    padding: 4rem 0 0 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 2rem;
}

.footer-nav ul,
.footer-social ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    margin-bottom: 0.8rem;
}

.footer h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
}

.footer a:hover {
    color: var(--color-contrast);
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}

.footer-nav li,
.footer-social li {
    color: var(--color-bg-light);
    margin-bottom: 0.8rem;
}